

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/img/background_3.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Work Sans', sans-serif;
}

/* \/\/\/\/\/\/\/ Login */

.login_container{
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgb(	216, 191, 216);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 5px 10px rgba(102, 51, 153, 0.529);
}

.login_container h1{
    text-align: center;
    font-size: 36px;
    padding: 10px;
}

.login_boxes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login_boxes input{
    border-radius: 10px;
    border: none;
    padding: 5px 50px;
}

.remenber {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.login_remember-forget {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    margin: 12px 0px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    /* color: royalblue; */
}

button {
    background-color: white;
    color: black;
    padding: 5px 50px;
    margin: 10px 0px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid rgba(218, 112, 214, 1);
}

.login_register {
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    font-size: 13px;
}

/* \/\/\/\/\/\/\/ Login */

.forget_container {
    text-align: center;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
    display: flex;
    border: 1px solid rgb(	216, 191, 216);
    border-radius: 10px;
    width: 300px;
    padding: 30px 40px;
    box-shadow: 0 5px 10px rgba(102, 51, 153, 0.529);
}

.forget_container h1 {
    font-size: 36px;
    padding: 16px;
}

.forget_container h2 {
    padding: 16px;
    text-decoration: underline;
}

.forget_boxes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.forget_boxes input {
    border-radius: 10px;
    border: none;
    padding: 5px 50px;
}

.forget_button {
    margin: 10px;
}

.forget_register {
    font-size: 13px;
}