* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "exo-2", sans-serif;
    font-style: normal;

    min-height: 100vh;

    background-image: url(/img/background_4.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.container {
    background-color: white;

    border: none;
    border-radius: 20px;
    box-shadow: 
        0px 25px 25px rgba(155, 106, 172, 0.320), 
        -5px 0px 25px rgba(155, 106, 172, 0.120),
        5px 0px 25px rgba(155, 106, 172, 0.120);

    padding: 20px;
    max-width: 450px;
    width: 90%;
    min-height: 350px;
}

.title,
.first_FAQ, 
.second_FAQ, 
.third_FAQ, 
.fourth_FAQ, 
.fifth_FAQ, 
.sixth_FAQ {
    display:flow-root;
    align-items: center;

    padding: 8px;
} 

.first_FAQ, 
.second_FAQ, 
.third_FAQ, 
.fourth_FAQ, 
.fifth_FAQ, 
.sixth_FAQ {
    justify-content: space-between;
} 

h1 {
    margin-bottom: 20px;

    font-size: 30px;
    text-decoration: underline;
}

.title {
    gap: 20px;
}

h2 {
    font-size: 19px;
    width: 100%;

    cursor: pointer;
}

h2:hover {
    color: #a31aa8;

}

p {
    padding-top: 10px;

    color: gray;

    transition: max-height 2.0s, ease-in-out;

    font-size: smaller;
}
