* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    background-image: linear-gradient(140deg, #130443, #63cef5);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(140deg, #63cef5, #130443);


    text-align: center;
    align-items: center;
    width: 500px;

    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 20px 30px rgba(27, 1, 52, 0.529);

    color: white;
    padding: 20px 30px;
}

h1 {
    margin: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.boxes input {
    padding: 5px 30px;
    border-radius: 20px;
    border: none;
}