* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    background-image:
        linear-gradient(140deg, #130443, #63cef5); 

    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: 
        linear-gradient(140deg, rgba(19,4,67,0.9), rgba(99,206,245,0.9)),
        url("https://i.pinimg.com/736x/5d/ee/fc/5deefcac4a436616a249ed3568dc668a.jpg");
        

    text-align: center;
    align-items: center;
    width: 500px;

    border: none;
    border-radius: 12px;
    box-shadow: -10px -10px 35px rgba(27, 1, 52, 0.529);

    color: white;
    padding: 20px 30px;
}

h1 {
    margin: 20px;
    margin-bottom: 40px;
    font-size: 45px;
    text-decoration: none;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxes input {
    padding: 10px 30px;

    border-radius: 13px;
    border: none;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 15px; 
    border-radius: 13px;
    border: none;
    box-sizing: border-box; 
}


.input-box i {
    position: absolute;
    top: 50%; 
    right: 15px; 
    transform: translateY(-50%); 
    font-size: 18px;
    color: rgb(125, 148, 177);
    pointer-events: none; 
}

button {
    padding: 15px 35px;

    border: none;
    border-radius: 12px;

    font-size: 17px;

    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: white;

    background-color: transparent;
    border: 1px solid rgba(27, 1, 52, 0.529);
}


.gender label{
    font-size: 18px;
}